// Header Main 
.footer-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: $white;
    
    @media #{$tablet-device, $large-mobile}{
        padding: 15px 0;
    }
}

// Header Wrapper 
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


// Footer Section
.footer-widget-section{
    position: relative;
    
    & .shape-01{
        position: absolute;
        top: 70px;
        left: 60px;
    }
    & .shape-02{
        position: absolute;
        right: 60px;
        bottom: 70px;
    }
}


// Footer Wrapper
.footer-widget-wrapper{
    margin-top: -50px;
}

// Footer Widget
.footer-widget {
    margin-top: 45px;
}


// Footer Widget Title
.footer-widget-title{
    font-size: 27px;
    color: $secondary;
    font-weight: 600;
    white-space: nowrap;

    @media #{$desktop-device}{
        font-size: 24px;
    }
    @media #{$large-mobile}{
        font-size: 20px;
    }
}


// Widget Newsletter
.widget-newsletter{
    padding-top: 32px;
    @media #{$extraBig-device, $laptop-device}{
        padding-right: 70px;
    }

    & p{
        color: $primary;
        line-height: 2.13;
    }
    & .newsletter-form{
        margin-top: 35px;

        & input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]){
            width: 100%;
            border: 0;
            height: 50px;
            padding: 0 30px;
            border-radius: 10px;
            background-color: $white;
            color: $secondary;
            
            @include placeholder{
                opacity: 1;
                color: $heading-color;
            }
        }
        & .btn{
            border-radius: 10px;
            margin-top: 20px;
            padding: 0 30px;
        }
    }
}

// Widget Link
.widget-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
     

    & > * {
        padding-right: 40px;

        &:last-child{
            padding-right: 0;
        }
    }
}

// Widget Link
.widget-link{
    & li{
        font-size: 15px;
        color: $secondary;
        margin-top: 15px;

        @media #{$large-mobile}{
            font-size: 13px;
        }

        & a{}
    }
}


// Header Menu 
.footer-menu{
    display: flex;
    align-items: center;

    & ul{
        display: flex;

        & li{
            position: relative;
            padding: 36px 0;

            & + li{
                margin-left: 50px;

                @media #{$desktop-device}{
                    margin-left: 30px;
                }
            }

            & a{
                font-size: 16px;
                font-weight: 500;
                color: $heading-color;
                transition: $transition-default;

                &.active{
                    color: $primary;
                }
            }

            & ul{
                display: block;

                & li{
                    margin: 0;
                    padding: 0;
                }
            }

            &:hover{
                & a{
                    &:hover{
                        color: $primary;
                    }
                }
                & > .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }

            &:nth-last-of-type(1),
            &:nth-last-of-type(2){
                & ul{    
                    & li{
                        & .sub-menu{
                            @media #{$laptop-device, $desktop-device}{
                                left: auto;
                                right: 100%;
                            }
                        }
                    }
                }
                
            }
        }
    }
}






